<!--Hero Image o banner promocional-->
<div class="row">
    <div class="col-6 col-md-12 col-lg-12">
        <div class="hero-image d-none d-md-block">
        <div class="hero-image">
            <div class="hero-text">
                <h2>La aplicación que
                    <span style="color: #ff5900;">optimizará</span>
                    y
                    <span style="color: #ff5900;">automatizará</span>
                    tus tareas</h2>
                <p>Para facilitar tu trabajo</p>
                <button
                    type="button"
                    class="btn btn-outline-secondary"
                    data-toggle="modal"
                    data-target="#staticBackdrop">Cómo hacerlo?</button>
            </div>
        </div>
        <!--Termina Hero image-->
