<!--tarjetas-->
  <div class="container">
    <div class="row">
        <div class="col-6 col-md-12 col-lg-12">
            <div class="flip-card-container">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="./assets/card1.png" alt="Avatar" style="width:300px;height:300px;"></div>
                        <div class="flip-card-back">
                            <h1><span style="color: #ff5900;">Interfaz</span></h1>
                            <h4><span style="color: #8b8b8b;">Amigable</span></h4>
                            <p>Identifica los mejores candidatos ahorrando tiempo y esfuerzo mediante flujos de tareas más sencillos.</p>
                        </div>
                    </div>
                </div>
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="./assets/card3.jpg" alt="Avatar" style="width:300px;height:300px;"></div>
                        <div class="flip-card-back">
                            <h1><span style="color: #ff5900;">Procesos</span></h1>
                            <h4><span style="color: #8b8b8b;">Optimizados</span></h4>
                            <p>Identifica candidatos que se alineen con la cultura organizacional de tu empresa de forma sencilla.</p>
                        </div>
                    </div>
                </div>
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="./assets/card2.png" alt="Avatar" style="width:300px;height:300px;"></div>
                        <div class="flip-card-back">
                            <h1><span style="color: #ff5900;">Uso</span></h1>
                            <h4><span style="color: #8b8b8b;">Intuitivo</span></h4>
                            <p>Simplifica procesos para enfocarte en lo importante mediante interacciones fáciles de aprender y reconocer.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Termina Tarjetas-->
