<div class="container">
    <div class="row">
        <div class="col-md-6 col-lg-12 d-none d-lg-block">
            <div class="counter-container">
                <div class="counter-item">
                    <h1>05</h1>
                    <h5>Usuarios</h5>
                    <h6><span style="color: #ffe9a1;">Gratuitos</span></h6>
                </div>
                <div class="counter-item">
                    <h1>20</h1>
                    <h5>Candidatos</h5>
                    <h6><span style="color: #ffe9a1;">Gratuitos</span></h6>
                </div>
                <div class="counter-item">
                    <h1>20</h1>
                    <h5>Vacantes</h5>
                    <h6><span style="color: #ffe9a1;">Gratuitos</span></h6>
                </div>                
            </div>
        </div>
    </div>
</div>
