<!-- Inicia Banner -->
<div class="header-background">
    <div class="banner">
        <div class="slogan">
            <h1>
                <span style="color: #ffffff;">Mejora tus resultados con </span>
                <span style="color: #ff5900;">Applicante</span>
            </h1>
            <h2 class="description">
                <span style="color: #ffffff;">La herramienta de HR y Reclutamiento que será tu asistente en la búsqueda de talento</span>
            </h2>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <!-- Aqui va el boton de accion primaria: Signin -->
                    <button type="button" class="btn btn-primary" (click)="openLogin()">Entrar</button>

                    <!-- Aqui va el boton de accion secundaria: Signup -->
                    <button type="button" class="btn btn-outline-secondary" (click)="openRegistrar()">Regístrate</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Finaliza Banner -->

<!-- Inicia Banner Carrousel -->
<!-- <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="./assets/banner.png" class="d-block w-100" alt="recruitment">
        <div class="carousel-caption d-none d-md-block">
          <h5>Mejora tus resultados con Applicante</h5>
          <p>La herramienta de HR y Reclutamiento que será tu asistente en la búsqueda de talento.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="./assets/banner2.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Procesos Optimizados</h5>
          <p>Que te ayudan a identificar candidatos alineados la industria.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="./assets/banner3.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Interfaz Intuitiva</h5>
          <p>Que simplifica e integra procesos en una herramienta</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-target="#carouselExampleCaptions" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-target="#carouselExampleCaptions" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </button>    
  </div> -->

  <!-- Finaliza Banner Carrousel -->