<!--Footer comienza aqui-->
<footer>
    <div class="container">
        <div class="row">
            <div id="foot_quienes" class="col-12 col-sm-12 col-md-6 col-lg-3">
                <div class="titulo_footer">
                    Qué hacemos?
                </div>
                <div id="quienes">
                    En Applicante, transformamos el IT con herramientas que conectan reclutadores y candidatos de manera eficiente y efectiva.  
                </div>                   
            </div>
        <div id="horarios" class="col-12 col-sm-12 col-md-6 col-lg-3">
            <div class="titulo_footer">
                Horarios
            </div>
            <div class="horario">Lun 10:00am - 17:00pm</div>
            <div class="horario">Mar 10:00am - 17:00pm</div>
            <div class="horario">Mie 10:00am - 17:00pm</div>
            <div class="horario">Jue 10:00am - 17:00pm</div>
            <div class="horario">Vie 10:00am - 17:00pm</div>
        </div>
        <div id="links" class="col-12 col-sm-12 col-md-6 col-lg-3">
            <div class="titulo_footer">
                Enlaces
            </div>
            <div class="mylinks">Iniciar Sesión</div>
            <div class="mylinks">Registro</div>
            <div class="mylinks">Ubicación</div>
        </div>
        <div id="links" class="col-12 col-sm-12 col-md-6 col-lg-3">
            <div class="titulo_footer">
                Suscribete
            </div>
            <div class="mylinks">Newsletter</div>
        </div>
    </div>
    <!--Footer termina aqui-->
