<!--Hero Image o banner promocional final-->
<div class="row">
    <div class="col-6 col-md-12 col-lg-12">        
        <div class="hero-image1 d-none d-md-block">
        <div class="hero-image1">
            <div class="hero-text">
                <h2>Buscamos fortalecer el 
                    <span style="color: #ff5900;">vínculo</span>
                    entre reclutadores y  
                    <span style="color: #ff5900;">candidatos</span>
                    </h2>
                <button
                    type="button"
                    class="btn btn-outline-secondary"
                    data-toggle="modal"
                    data-target="#staticBackdrop">Únete y crea tu perfíl!</button>
            </div>
        </div>
<!--Termina Hero image-->
