<!--Inicia Navegador y Menu-->
<nav class="navbar">
    <div class="logo">
        <img src="../assets/Logo_png.png" width="258px" height="56px" alt="Logo">
    </div>
    <div class="menu">
        <a class="nav-link" routerLink="/">
            <h6>Inicio</h6>
        </a>
        <a class="nav-link" routerLink="/contactenos">
            <h6>Contacto</h6>
        </a>
        <a class="nav-link" routerLink="/login">
            <h6>Ingresa</h6>
        </a>
        <a class="nav-link" routerLink="/registrar">
            <h6>Regístrate</h6>
        </a>
    </div>
</nav>
<!--Finaliza navegador y top menu-->

