        
          <!--tarjetas About Us-->
           <div class="container">
            <div class="row">
                <div class="col-6 col-md-12 col-lg-12">
                    <div class="flip-card-container">
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <img src="./assets/cardmision.png" alt="Avatar" style="width:300px;height:300px;"></div>
                                <div class="flip-card-back">
                                    <h1><span style="color: #ff5900;">Nuestra</span></h1>
                                    <h4><span style="color: #8b8b8b;">Misión</span></h4>
                                    <p>Transformamos el reclutamiento en la industria IT, siendo el aliado estratégico que simplifica el proceso de búsqueda de talento tecnológico para profesionales de recursos humanos.

                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <img src="./assets/cardvision.png" alt="Avatar" style="width:300px;height:300px;"></div>
                                <div class="flip-card-back">
                                    <h1><span style="color: #ff5900;">Nuestra</span></h1>
                                    <h4><span style="color: #8b8b8b;">Visión</span></h4>
                                    <p>Visualizamos un futuro donde el reclutamiento en la industria IT sea ágil y efectivo. Buscamos ser la plataforma líder que redefine la forma en que las empresas seleccionan talento tecnológico.</p>
                                </div>
                            </div>
                        </div>
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <img src="./assets/cardvalores.png" alt="Avatar" style="width:300px;height:300px;"></div>
                                <div class="flip-card-back">
                                    <h1><span style="color: #ff5900;">Nuestros</span></h1>
                                    <h4><span style="color: #8b8b8b;">Valores</span></h4>
                                    <p>Nuestra visión es construir un futuro de reclutamiento más eficiente y humano.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Termina Tarjetas About Us-->
