<!--Contador Estadísticas-->
<div class="container">
    <div class="row">
        <div class="col-md-6 col-lg-12 d-none d-lg-block">
            <div class="counter-container">
                <div class="counter-item">
                    <h1>5</h1>
                    <h5>Clientes</h5>
                    <h6><span style="color: #ffe9a1;">Adquiridos</span></h6>
                </div>
                <div class="counter-item">
                    <h1>2</h1>
                    <h5>Proyectos</h5>
                    <h6><span style="color: #ffe9a1;">Ejecutados</span></h6>
                </div>
                <div class="counter-item">
                    <h1>+22</h1>
                    <h5>Candidatos</h5>
                    <h6><span style="color: #ffe9a1;">Entrevistados</span></h6>
                </div>
                <div class="counter-item">
                    <h1>12</h1>
                    <h5>Prospectos</h5>
                    <h6><span style="color: #ffe9a1;">Reclutados</span></h6>
                </div>
            </div>
        </div>
    </div>
    <br>
    <!--Termina contador-->
