<!--tarjetas-->
<div class="container">
    <div class="row">
        <div class="col-6 col-md-12 col-lg-12">
            <div class="flip-card-container">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="./assets/step1.png" alt="Avatar" style="width:250px;height:250px;"></div>
                            <div class="flip-card-back">
                                <h4>
                                    <span style="color: #ff5900;">Planeación</span>
                                </h4>
                                <h4>
                                    <span style="color: #8b8b8b;"></span>
                                </h4>
                                <p>Estrategia anticipada, definición de roles clave y metas. Planificación para
                                    atraer talento alineado con los objetivos y valores de la organización.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="./assets/step2.png" alt="Avatar" style="width:250px;height:250px;"></div>
                                <div class="flip-card-back">
                                    <h4>
                                        <span style="color: #ff5900;">Búsqueda</span>
                                    </h4>
                                    <h4>
                                        <span style="color: #8b8b8b;"></span>
                                    </h4>
                                    <p>Implementación de estrategias, ofertas, búsqueda y
                                        colaboración con agencias. Exploración de fuentes para atraer
                                        candidatos.</p>
                                </div>
                            </div>
                        </div>
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <img src="./assets/step3.png" alt="Avatar" style="width:250px;height:250px;"></div>
                                    <div class="flip-card-back">
                                        <h4>
                                            <span style="color: #ff5900;">Screening</span>
                                        </h4>
                                        <h4>
                                            <span style="color: #8b8b8b;"></span>
                                        </h4>
                                        <p>Análisis de currículos y habilidades mediante herramientas.
                                            Evaluación inicial destacando a quienes cumplen con requisitos
                                            esenciales.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front">
                                        <img src="./assets/step4.png" alt="Avatar" style="width:250px;height:250px;"></div>
                                        <div class="flip-card-back">
                                            <h4>
                                                <span style="color: #ff5900;">Selección</span>
                                            </h4>
                                            <h4>
                                                <span style="color: #8b8b8b;"></span>
                                            </h4>
                                            <p>Pruebas técnicas y de personalidad. Identificación de candidatos alineados con
                                                competencias técnicas y cultura organizacional.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="flip-card">
                                    <div class="flip-card-inner">
                                        <div class="flip-card-front">
                                            <img src="./assets/step5.png" alt="Avatar" style="width:250px;height:250px;"></div>
                                            <div class="flip-card-back">
                                                <h4>
                                                    <span style="color: #ff5900;">Contratación</span>
                                                </h4>
                                                <h4>
                                                    <span style="color: #8b8b8b;"></span>
                                                </h4>
                                                <p>Oferta formal, negociación y proceso de incorporación. Incluye trámites
                                                    administrativos y apoyo para asegurar transición exitosa al nuevo rol.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Termina Tarjetas-->